# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# Build
build/
dist/
*.egg-info/

# Logs
*.log

# Environment Variables
.env

# OS
.DS_Store
Thumbs.db